language: generic 
sudo: required
services:
  - docker
  
before_install:
  - sudo gem install bundler
  - docker build -t jjlynch/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true jjlynch/docker-react npm run test -- --coverage